@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.xy {
		@apply flex justify-center items-center;
	}

	.fx {
		@apply flex items-center;
	}

	.fy {
		@apply flex flex-col items-center;
	}

	.b {
		border: 1px solid red;
	}

	.o {
		outline: 1px solid red;
	}

	.brightness-button,
	.darker-brightness-button {
		@apply transition duration-200;
	}

	.brightness-button {
		@apply hover:brightness-95 active:brightness-90;
	}

	.darker-brightness-button {
		@apply hover:brightness-75 active:brightness-50;
	}

	.dark {
		.brightness-button,
		.darker-brightness-button {
			@apply hover:brightness-90 active:brightness-75;
		}
	}

	.round-solid-button,
	.round-outline-button {
		@apply xy rounded-full shadow-md font-bold p-1.5 text-lg w-full;
	}

	.round-solid-button {
		@apply relative overflow-hidden z-10
		text-white;
		&:disabled {
			@apply bg-slate-200 text-slate-500;
		}
		&:not(:disabled) {
			@apply transition-shadow duration-300
		bg-gradient-to-r from-skin-medlight to-skin-highlight;
			&:hover:before {
				@apply opacity-100;
			}
			&:active {
				@apply shadow;
				&::after {
					@apply opacity-100;
				}
			}
			&::before {
				content: '';
				@apply inset-0 opacity-0 transition duration-300 absolute -z-10 bg-gradient-to-t from-skin-medlight to-skin-highlight;
			}
			&::after {
				content: '';
				@apply inset-0 opacity-0 transition duration-300 absolute -z-10 bg-gradient-to-r from-skin-lowlight to-skin-medlight;
			}
		}
	}

	.round-outline-button {
		@apply transition duration-300
		bg-skin-foreground border-2
		border-skin-highlight dark:border-skin-lowlight
		text-skin-lowlight dark:text-skin-highlight;

		&:hover {
			/* using hover: did not work for me */
			@apply border-skin-medlight text-skin-medlight;
		}

		&:active {
			@apply shadow border-skin-lowlight text-skin-lowlight;
		}
	}
}
