@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base { */
:root {
	/* Theme agnostic colors */
	/* --highlight-color: #047aff;
	--highlight-color: #6F9BFC; */
	/* --highlight-color: #4e81f4; */
	--highlight-color: #6e97f5;
	--medlight-color: #5e88e9;
	--lowlight-color: #4d7be7;
	--pending-green-color: #44d7b6;
	--alert-red-color: #d82f32;

	/* Light mode */
	--bg-base-color: #ebecf0;
	--bg-middleground-color: #f4f5f8;
	--bg-foreground-color: #ffffff;
	--border-input-color: rgb(217, 217, 228);
	--text-base-color: #1d2024;
	--text-secondary-color: #51555c;
	--text-muted-color: #737478;
	--bg-line-divider-color: #dbe4f0;
}

.dark {
	--bg-base-color: #131418;
	--bg-middleground-color: #212227;
	--bg-foreground-color: #2f3038;
	--border-input-color: #25262c;
	--text-base-color: #eeeeee;
	--text-secondary-color: #cdced3;
	--text-muted-color: #818388;
	--bg-line-divider-color: #0e1118;
}
/* } */
