@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base { */
:root {
	--highlight-color: #006fea;
	--lowlight-color: #007aff;
	--primary-text-color: #ffffff;
	--secondary-text-color: #b4b5bc;
	--tertiary-text-color: #737784;
	--bg-base-color: #01081f;
	--bg-middleground-color: #151c32;
	--bg-foreground-color: #1e2745;
	--back-arrow-icon-color: #7e848f;
	--text-input-label-color: #b3b3b3;
	--unchecked-checkbox-color: #a8adb4;
	--divider-color: #1d2644;
	--eye-icon-color: #5e6875;
	--connected-green-color: #6cd402;
	--error-color: #e02020;
	/* Light mode */
}

.dark {
}
/* } */
