@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
	-webkit-font-smoothing: antialiased;
	@apply bg-skin-base h-[30rem] w-[18rem] text-base overflow-scroll;
}

#root::-webkit-scrollbar {
	display: none;
}

#root {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

p,
label,
body input,
body button {
	/* ^ body needed to increase specificity. Idk what styles would override just the button selector. */
	@apply text-skin-primary font-semibold;
}

button,
input,
select,
textarea {
	@apply outline-none bg-transparent;
}

select {
	appearance: none;
}

button[disabled] {
	@apply cursor-default;
}
