@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
	-webkit-font-smoothing: antialiased;
	@apply bg-skin-base h-[35rem] w-[calc(10/16*35rem)] text-base overflow-scroll;
}

body {
	p,
	a,
	label,
	input,
	textarea,
	button {
		@apply text-skin-primary font-semibold;
	}
}

button,
input,
textarea,
select,
textarea {
	@apply outline-none;
}

select {
	appearance: none;
}

button[disabled] {
	@apply cursor-default;
}

a {
	@apply cursor-pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/* https://stackoverflow.com/a/72047637/4975090 */
div {
	-ms-overflow-style: none; /* Edge, Internet Explorer */
	scrollbar-width: none; /* Firefox */
	overflow-y: scroll;
}
div::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}
